{{template "header"}}

<form method="POST">
    <label form="firstName">First Name</label>
    <input type="text" id="firstName" name="first">
    <br>
    <label form="lastName">Last Name</label>
    <input type="text" id="lastName" name="last">
    <br>
    <label form="sub">Subscribe</label>
    <input type="checkbox" id="sub" name="subscribe">
    <br>
    <input type="submit">
</form>
<br>

<h1>First Name: {{.FirstName}}</h1>
<h1>Last Name: {{.LastName}}</h1>
<h1>Subscribed: {{.Subscribed}}</h1>

{{template "footer"}}