<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>functions</title>
</head>
<body>
    <p>Without date formatting {{.}}</p>
    <p>With date formatting {{fdateMDY .}}</p>
</body>

</html>